body {
  font-family: "Arial, sans-serif";
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.page-holder {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
}

.form-holder {
  background-color: #fff;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  width: 100%;

  h2 {
    color: #333;
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }

  p {
    color: #666;
    margin-bottom: 1.5rem;
  }

  form {
    display: flex;
    flex-direction: column;

    label {
      color: #555;
      font-weight: bold;
      margin-bottom: 0.5rem;

      span {
        color: red;
      }
    }

    select {
      padding: 0.5rem;
      margin-bottom: 1rem;
      border: 1px solid #ccc;
      border-radius: 4px;
      font-size: 1rem;
      background-color: #fafafa;
      appearance: none; // For removing the default arrow
      background-image: url('data:image/svg+xml;charset=US-ASCII,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="gray" class="bi bi-chevron-down" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/></svg>');
      background-repeat: no-repeat;
      background-position: right 10px center;
      background-size: 16px 16px;
    }

    .btn-holder {
      display: flex;
      justify-content: center;
      align-items: center;

      button {
        padding: 0.75rem;
        padding: 10px 30px;
        margin-top: 1rem;
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 4px;
        font-size: 1rem;
        cursor: pointer;
        transition: background-color 0.3s ease;

        &:hover {
          background-color: #0056b3;
        }

        &:active {
          background-color: #004494;
        }

        &:focus {
          outline: none;
          box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.5);
        }

        &:disabled {
          background-color: #cccccc;
          cursor: not-allowed;
          color: #666666;
        }
      }
    }
  }
}
