<div class="page-holder">
  <div>
    <div class="form-holder">
      <h2>Imate problem sa kolima? Tu smo da pomognemo</h2>
      <p>Izaberite specifikacije vaseg automobila</p>

      <form [formGroup]="form" (ngSubmit)="goNext()">
        <label for="marka">Marka automobila <span>*</span></label>
        <select name="marka" id="marka" formControlName="marka">
          <option *ngFor="let marka of marke" [ngValue]="marka">
            {{ marka.name }}
          </option>
        </select>

        <label for="tipGoriva">Tip goriva <span>*</span></label>
        <select name="tipGoriva" id="tipGoriva" formControlName="tipGoriva">
          <option *ngFor="let tip of tipGoriva" [ngValue]="tip">
            {{ tip.name }}
          </option>
        </select>

        <label for="menjac">Menjac <span>*</span></label>
        <select name="menjac" id="menjac" formControlName="menjac">
            <option *ngFor="let menjac of menjaci" [ngValue]="menjac">
                {{ menjac.name }}
              </option>
        </select>

        <div class="btn-holder">
          <button [disabled]="!form.valid" type="submit">Sledeci korak</button>
        </div>
      </form>
    </div>
  </div>
</div>
